<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Current properties</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="property : ${properties}">
                <td th:text="${property.key}"></td>
                <td th:text="${property.value}"></td>
            </tr>
        </tbody>
    </table>
    Nr of calls: <span class="badge text-bg-light" th:text="${counter}">0</span>
</div>
<script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>